
  body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 100%;
    background-color: #ECECEA;
  }

  #loc {
     position:absolute;
     left:0px;
     bottom:200px;
     height:0px;
     width:100%;
     background:transparent;
     font-size:8vh;
     margin:0;
   }

  #para { font-size:15vh;
            font-weight: bold;
            width:450px;
            margin:0;
            line-height:95%;
    }
